@import "bootstrap-sprockets";
@import "bootstrap";

.jumbotron {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    color:#51899a;
    font-family: sans-serif;
    background-color: #CCD3E7;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 30px 20px;
    color: Red;
}
h1{
  color:#df91b1;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    background-color:#eeeff5;
}
.photos {
    width: 100%;
}
